@charset 'utf-8';
/* ● mobile first
모바일로 코딩 먼저하고, 
미디어쿼리로 , desktop 넓이 추가코딩 */

html {
  font-family: "Noto Sans KR", sans-serif;
  /* T: root element 크기 정해둠.  */
  font-size: 14px;
}
body {
  /* T: x축 스크롤 처음부터 없애고 시작. 작업하기 편함  */
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background: white;
}
p {
  /* T: 행간 띄움 */
  line-height: 1.6;
}
a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}

body.before-load {
  overflow: hidden;
}
.container {
  /* iPhone 가로 스크롤 방지 */
  overflow-x: hidden;
}
.global-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  /* css 13-18 : ??? : absolute에서는 width를 넓혀줘야지 넓어짐.. ?? */
  width: 100%;
  /* css 04-10 */
  /* css 13-19 */
  height: 44px;
  padding: 0 1rem;
}
.local-nav {
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 11;
  width: 100%;
  /* css 13-19 :globla-nav와 겹치지 않게.. global-nav.height참고해서 그밑으로 위치하게함 */
  height: 52px;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
}
.local-nav-sticky .local-nav {
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  /* for iPhone */
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  -moz-backdrop-filter: saturate(180%) blur(15px);
  -o-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
}
.global-nav-links,
.local-nav-links {
  display: flex;
  /* css 04-10 */
  align-items: center;
  /* nav의 최대 width */
  max-width: 1000px;
  /* css 04-10: T: align-item center가 안먹힘 : 높이가 상위태그 global-nav보다 작아서..상위태그와 같은높이로 설정하기. 44px도 되는데 , 편하게 그냥 100%    */
  height: 100%;
  /* t: 센터정렬: 왼쪽오른쪽 margin auto */
  margin: 0 auto;
}
.global-nav-links {
  justify-content: space-between;
}
.local-nav-links .product-name {
  /* T:
margin-right : auto로 하면됨

margin auto meaing: 자신이 가지고있는 마진을 모두 쓴다는 의미

margin : 0 auto : 왼쪽,오른쪽의 마진을 모두 쓰니까, 가운데 정렬이 됨

Airmug pro에만 margin auto를 주면, 

airmug pro 혼자 빈 margin 을 전부 씀 */
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: bold;
}
.local-nav-links a {
  font-size: 0.8rem;
}

/*T:
:not ()
: ()안의 것만 빼고 적용
()안의 .product-name만빼고 적용이 됨 */

.local-nav-links a:not(.product-name) {
  margin-left: 2em;
}
.scroll-section {
  position: relative;
  /* t: 인터넷 브라우저 창의 전체 높이: 100vh */
  padding-top: 50vh;
}

/* t: h1에 클래스 줄수있지만, 
너무 많은 클래스는 헷갈리게 하므로...
이런식으로 코딩함 */
#scroll-section-0 h1 {
  position: relative;
  top: -10vh;
  z-index: 5;
  font-size: 4rem;
  text-align: center;
}
.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 35vh;
  margin: 5px 0;
  height: 3em;
  font-size: 2.5rem;
  opacity: 0;
}
.main-message p {
  font-weight: bold;
  text-align: center;
  /* 행간 줄이기 (기본 1.6으로 위에 따로 설정했었음) */
  line-height: 1.2;
}
.main-message small {
  /* T: display: block
The element generates a block element box, generating line breaks both before and after the element when in the normal flow.
 */
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.2rem;
}
#scroll-section-2 .main-message {
  font-size: 3.5rem;
}
.description {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #888;
}

/* t:  .description 클래스안의 strong 태그 가져옴. 너무 많은 클래스는 헷갈리게 하므로...
*/
/* T 07-14: rem / em

rem: 1rem = html tag (root tag)의 값

em: 
1st :  자기tag 기준
2st : 현재부모tag의 폰트사이즈 기준 

자신의 폰트사이즈가 설정되어있지 않을 경우,
결국 부모의 폰트 사이즈가 내 폰트사이즈가 되므로
보통 부모의 폰트 사이즈가 기준이 되는게 맞는데요~

이 경우에는 자기 폰트사이즈가 설정이 되었으므로
3rem의 0.2배가 된다고 생각하시면 됩니다^^

(1)
rem (font-size ) : 
부모 (html) 폰트 사이즈 14px를 기준
14*2.5
14*3

(2)
em (height, margin)  :
자기태그안(.description strong)의 font-size rem이 기준

그 비율에 맞춰서 코딩하면 더 편해서 이렇게 사용함

14*3*0.2

만약 rem이라면

14*0.2
*/
.description strong {
  float: left;
  /* (1) */
  font-size: 3rem;
  /* (2) */
  margin-right: 0.2em;

  color: rgb(29, 29, 31);
}
.desc-message {
  width: 50%;
  /* t: bold */
  font-weight: bold;
  opacity: 0;
}
.pin {
  width: 1px;
  height: 100px;
  background: rgb(29, 29, 31);
}
#scroll-section-2 .b {
  top: 10%;
  left: 40%;
}
#scroll-section-2 .c {
  top: 15%;
  left: 45%;
}
.mid-message {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 2rem;
  color: #888;
}
.mid-message strong {
  color: rgb(29, 29, 31);
}
.canvas-caption {
  max-width: 1000px;
  margin: -24rem auto 0;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #888;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  color: white;
  background: darkorange;
}

/* css 10-06 sticky를 fixed와 js로 구현하기 */
.sticky-elem {
  /* css 10-06 */
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
}

/* css 10-06 : js로 설정된 아이디에 맞춰서 해당 아이디의 sticky-elem이 보여지게함*/
#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
  display: block;
  will-change: transform, opacity;
}
.scroll-effect-end .sticky-elem {
  /* 스크롤 효과가 모두 끝나고, 아래 일반 콘텐츠 영역에서는 sticky-elem들을 모두 안보이도록 */
  display: none !important;
}
.sticky-elem-canvas {
  top: 0;
  height: 100%;
}
.sticky-elem-canvas canvas {
  position: absolute;
  top: 50%;
  left: 50%;
}
#scroll-section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-blend-canvas.sticky {
  position: fixed;
  top: 0;
  z-index: 10;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: white;
  opacity: 0;
  transition: 0.5s;
}
.before-load .container {
  display: none;
}
.before-load .loading {
  opacity: 1;
}
@keyframes loading-spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-circle-ani {
  0% {
    stroke-dashoffset: 157;
  }
  75% {
    stroke-dashoffset: -147;
  }
  100% {
    stroke-dashoffset: -157;
  }
}
.loading-circle {
  width: 54px;
  height: 54px;
  animation: loading-spin 3s infinite;
}
.loading-circle circle {
  stroke: black;
  stroke-width: 4;
  /* getTotalLength()로 stroke의 길이를 얻어올 수 있음 */
  stroke-dasharray: 157;
  stroke-dashoffset: 0;
  fill: transparent;
  animation: loading-circle-ani 1s infinite;
  /* transition: 1s; */
}
/* .loading-circle:hover circle {
	stroke-dashoffset: -157;
} */

.normal-content {
  margin-bottom: 10rem;
}

@media (min-width: 1024px) {
  #scroll-section-0 h1 {
    /* T 08-8: 
vw. vh : 윈도우크기에 따라서 폰트크기도 같이 변함 (윈도우크기 늘렸을때, 폰트크기 커짐)
윈도우 창 크기의 9%
*/
    font-size: 9vw;
  }
  .main-message {
    font-size: 4vw;
  }
  .description {
    padding: 0;
    font-size: 2rem;
  }
  .description strong {
    font-size: 6rem;
  }
  #scroll-section-2 .main-message {
    font-size: 6vw;
  }
  .main-message small {
    font-size: 1.5vw;
  }
  .desc-message {
    width: 20%;
  }
  #scroll-section-2 .b {
    top: 20%;
    left: 53%;
  }
  #scroll-section-2 .c {
    left: 55%;
  }
  .mid-message {
    width: 1000px;
    padding: 0;
    font-size: 4vw;
  }
  .canvas-caption {
    margin-top: -8rem;
    padding: 0;
    font-size: 2rem;
  }
}
